@()


@main("Welcome to Play") {
  <h1>MÉTODOS</h1>
  <div class="container">
    <ul>
        <li><a href="/olamundo">Imprimir "Ola Mundo!"</a></li>
        <li><a href="/somaPost">Somar dois números</a></li>
        <li><a href="/maior2Post">Maior número entre dois inteiros</a></li>
        <li><a href="/maior5Post">Maior número entre cinco inteiros</a></li>
        <li><a href="/vogaisPost">Quantidade de vogais em uma palavra</a></li>
        <li><a href="/imparPost">Verificar se um número é impar</a></li>
        <li><a href="/intervaloaeb/1/10">Intervalo entre dois números</a></li>
        <li><a href="/fatorial/5">Fatorial de um número</a></li>
        <li><a href="/divisores/10">Divisores de um número</a></li>
        <li><a href="/mdc/3/7">MDC de dois números</a></li>
        <li><a href="/transcreve_numero/10239">Números por extenso</a></li>
    </ul>
  </div>
}
